<ng-template [ngIf]="hotels" [ngIfElse]="placeholder">
    <div class="container mb-3">
        <span>{{hotelsI | json}}</span>
        <div class="row">
            <div class="col-md-4">
                <app-list [hotels]="hotels" (selectedHotel)="selectHotel($event)"></app-list>
            </div>
            <div class="col-md-4">
                <app-weather [hotel]="selectedHotel"></app-weather>
                <app-profile [profile]="selectedHotel.profile"></app-profile>
            </div>
            <div class="col-md-4">
                <app-favorites></app-favorites>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #placeholder>
    <app-progressbar></app-progressbar>
</ng-template>