<div class="container">
    <article>
        <a class="logo" href="https://www.globallogic.com/">
            <img src="./assets/images/Globallogic-logo.png" alt="Globallogic">
        </a>
        <p>GlobalLogic is a Digital Product Engineering Services company that was founded in 2000 and is headquartered in San Jose, California.[1] It is a privately held company funded by Partners Group and CPP Investment Board. GlobalLogic provides software
            product development services, including experience design, complex systems engineering, content engineering, and self-contained engineering labs. The company specializes in software engineering for cloud platforms, embedded software, Internet
            of Things, Automotive, mobile applications, and security</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut, nobis sunt quod inventore quisquam facere recusandae nihil sint, alias saepe aliquid repudiandae, numquam reiciendis velit. Suscipit hic perferendis sunt eveniet.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex ducimus commodi eius enim, unde omnis nemo nam deserunt, in illo ipsam odit architecto voluptatem, quisquam possimus numquam maiores perferendis fuga.</p>
    </article>
</div>