<div class="container">
    <div class="row">
        <div class="col-7">
            <div class="hotel-info">
                <h4>{{hotel?.title}} Hotel</h4>
                <div class="rating">
                    <mat-icon *ngFor="let star of [].constructor(hotel?.stars)">star</mat-icon>
                </div>
                <p>{{hotel?.exposition}}</p>
                <ul class="detail-list">
                    <li><b>Address:</b> {{hotel?.address}}</li>
                    <li><b>Phone:</b> {{hotel?.phone}}</li>
                </ul>
            </div>
        </div>
        <div class="col-1"></div>
        <div class="col-4 aside">
            <ul class="sidebar-menu">
                <li>
                    <a mat-stroked-button [routerLink]="['comments']" routerLinkActive="active">
                        <mat-icon class="icon">comment</mat-icon>Comments</a>
                </li>
                <li>

                    <a mat-stroked-button>
                        <mat-icon class="icon">location_on</mat-icon>Contacts</a>
                </li>
            </ul>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>