.comment-list {
    list-style: none;
    padding: 0 0 0 10px;
}

.comment-list li {
    padding-left: 10px;
    margin-bottom: 25px;
    border-left: 5px solid greenyellow;
}

.author {
    display: block;
    margin-bottom: 10px;
}